<nav>
  <ul class="nav nav-justified">
    <li class="nav-cat active" data-cat="home"><a href="#">Home</a></li>
    <li class="nav-cat" data-cat="projects"><a href="#">Projects</a></li>
    <li class="nav-cat" data-cat="services"><a href="#">Services</a></li>
    <li class="nav-cat" data-cat="downloads"><a href="#">Downloads</a></li>
    <li class="nav-cat" data-cat="about"><a href="#">About</a></li>
    <li class="nav-cat" data-cat="contact"><a href="#">Contact</a></li>
  </ul>
</nav>
